@import "colors";

body{
    background-color: $black;
    color: $white;
}
header {
    .buttons-menu {
        .close-open {
            .line{
                background-color: $white;
            }
        }       
    }
}
main{
    .container-about{
        max-width: 1250px;
        padding: 0 15px 0 85px;
        margin: 0 auto;
        .title{
            h2{
                font-size: 40px;
            }
        }
        .discription{
            p{
                font-size: 18px;
            }
        }
        .image{
                text-align: center;
            img{
                width: 100%;
            }
        }
    }
}
footer {
    .footer-menu { 
        li {
            a{
                color: $white !important;
                img{
                    filter: invert(1);
                }
            }
        }
    }
}