.border--left{
    border-left: 1.5px solid rgba($color: #ccc, $alpha: 0.5);
}
.border--right{
    border-right: 1.5px solid rgba($color: #ccc, $alpha: 0.5);
}
main{
    .box-small{
        .content-info{
            padding:  20px 40px;
        }
    }
    .box-small-col-4{
        .content-info{
            padding:  20px 80px;
        }

    }
    .box-medium{
        .content-info{
            padding: 20px 75px;
        }
    }
    .box-large{
        .content-info{
            padding: 20px 40px;
        }
    }    
    .content-box{
        width: 100%;
        min-height: 550px;
        margin-bottom: 70px;
        .feature-image{
            text-align: center;
            .img-large, .img-medium, .img-small{
                max-width: 100%;
            }
            .img-small{
                width: 200px;
            }
            .img-medium{
                width: 400px;
            }
            .img-large{
                width: 600px;
            }
        }
    }
    .content-info{
        .tag{
            font-size: 14px;
            color: #aaa;
            font-style: italic;
        }   
        .title--small{
            font-size: 25px;
        }
        .title--medium{
            font-size: 35px;
        }
        .title--large{
            font-size: 40px;
        }
        .description{
            font-size: 18px;
            color: #aaa;
        }
    }
}