.border--left{
    border-left: 1px solid black;
}
.border--right{
    border-right: 1px solid black;
}
main{
    .content-box{
        width: 100%;
        height: 500px;
        margin-bottom: 70px;
        .feature-image{
            text-align: center;
            .img-large, .img-medium, .img-small{
                max-width: 100%;
            }
            .img-medium{
                width: 450px;
            }
            .img-small{
                width: 200px;
            }
        }
    }
    .box-small{
        .content-info{
            padding: 0 30px;
        }
    }
    .box-medium{
        .content-info{
            padding: 0 45px;
        }
    }
    .box-large{

    }
    .content--box--one{
    }
}