@import "colors";

.page-template-template-entusiasta, .page-template-template-manifesto{
    background-color: $black;
    color: $white;
    header{
        .buttons-menu {
            .close-open {
                .line{
                    filter: invert(1);
                }
            }     
            .search-button{
                filter: invert(1);
                svg{
                    .cls-1{
                        stroke: $black;
                    }
                }
            }  
            
        }
        .main-menu{
            filter: invert(1);
        }
        .logo{
            filter: invert(1);
        }
    }
    main{
        .container-about{
            max-width: 1250px;
            padding: 0 15px 0 85px;
            margin: 0 auto;
            .title{
                h2{
                    font-size: 40px;
                    font-weight: normal;
                    font-family: 'IBM Plex Serif';
                    margin-bottom: 0;
                    margin-left: 15px;
                }
            }
            h3{
                font-size: 32px;
                font-weight: 300;
                line-height: 1.11;
                padding-left: 30px;
                padding-right: 40px;
                margin: 50px 0;
                border-left: 1px solid rgba($color: #ffffff, $alpha: 0.2);
            }
            .description{
                word-wrap: normal;
                padding-right: 40px;
                p{
                    font-size: 20px;
                    font-weight: 300;
                }
            }
            .image{
                    text-align: center;
                img{
                    width: 100%;
                    padding-left: 100px;
                    margin-top: 90px;
                }
                .image-manifest{
                    margin-top: 0;
                }
            }
        }
    }
    footer {
        .footer-menu { 
            li {
                a{
                    color: $white !important;
                }
            }
        }
        .logo{
            h2{
                a{
                    svg{
                        filter: invert(0);
                    }
                }
            }
        }
        .socials{
            ul{
                li{
                    a{
                        svg{
                            filter: invert(0);
                        }
                    }
                }
            }
        }
    }
}